In [46]:
import sys
sys.path.append('..')
import constants.file_handler_constants as fh
from packages.attraction.Attraction import *
from packages.restaurant.Restaurant import *
import os
import glob
import time
import pandas as pd
import numpy as np
from constants.attraction_constants import *
import re

In [47]:
geocode_df = pd.read_csv(fh.PATH_TO_GEOCODE)
geocode_df.head()

,ISO_3166_code,province_th,province_en,zip_code,district_th,district_en,geo_code,subDistrict_th,subDistrict_en
0,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810303,เกาะกลาง,Ko Klang
1,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810302,เกาะลันตาน้อย,Ko Lanta Noi
2,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810301,เกาะลันตาใหญ่,Ko Lanta Yai
3,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810304,คลองยาง,Khlong Yang
4,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810305,ศาลาด่าน,Sala Dan

In [91]:
c = geocode_df.loc[1:, :].copy()
len(c)

7424

In [48]:
geocode_df.iloc[1, 1]

'กระบี่'

In [49]:
geocode_df.head()

,ISO_3166_code,province_th,province_en,zip_code,district_th,district_en,geo_code,subDistrict_th,subDistrict_en
0,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810303,เกาะกลาง,Ko Klang
1,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810302,เกาะลันตาน้อย,Ko Lanta Noi
2,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810301,เกาะลันตาใหญ่,Ko Lanta Yai
3,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810304,คลองยาง,Khlong Yang
4,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810305,ศาลาด่าน,Sala Dan

In [50]:
geocode_df[geocode_df['province_en'] == 'Krabi'].empty

False

In [51]:
x = pd.DataFrame()
x = pd.concat([x, geocode_df[geocode_df['province_en'] == 'Krabi']])
x.empty

False

In [52]:
geocode_df.province_th.nunique()

77

In [53]:
geocode_df.province_th.value_counts().index

Index(['นครราชสีมา', 'อุบลราชธานี', 'พระนครศรีอยุธยา', 'ศรีสะเกษ', 'เชียงใหม่',
       'ขอนแก่น', 'ร้อยเอ็ด', 'บุรีรัมย์', 'นครศรีธรรมราช', 'กรุงเทพมหานคร',
       'สุรินทร์', 'อุดรธานี', 'กาฬสินธุ์', 'มหาสารคาม', 'สุราษฎร์ธานี',
       'นครสวรรค์', 'สงขลา', 'สกลนคร', 'ชัยภูมิ', 'เชียงราย', 'ลพบุรี',
       'เพชรบูรณ์', 'ปัตตานี', 'สระบุรี', 'สุพรรณบุรี', 'นครปฐม', 'ราชบุรี',
       'ลำปาง', 'น่าน', 'นครพนม', 'กาญจนบุรี', 'พิษณุโลก', 'เพชรบุรี',
       'ฉะเชิงเทรา', 'ชลบุรี', 'เลย', 'พิจิตร', 'ตรัง', 'สุโขทัย', 'ยโสธร',
       'แพร่', 'กำแพงเพชร', 'นราธิวาส', 'จันทบุรี', 'อ่างทอง', 'ชุมพร',
       'อุทัยธานี', 'พะเยา', 'อุตรดิตถ์', 'พัทลุง', 'ปราจีนบุรี', 'ตาก',
       'หนองคาย', 'ปทุมธานี', 'หนองบัวลำภู', 'สระแก้ว', 'ยะลา', 'ระยอง',
       'อำนาจเจริญ', 'ชัยนาท', 'กระบี่', 'บึงกาฬ', 'มุกดาหาร', 'นนทบุรี',
       'ลำพูน', 'สมุทรปราการ', 'พังงา', 'ประจวบคีรีขันธ์', 'แม่ฮ่องสอน',
       'สิงห์บุรี', 'นครนายก', 'สมุทรสาคร', 'ตราด', 'สมุทรสงคราม', 'สตูล',
       'ระนอง', 'ภูเก็ต'],
      dtype='object', name='province_th')

In [54]:
geocode_df.province_en.value_counts().index

Index(['Nakhon Ratchasima', 'Ubon Ratchathani', 'Phra Nakhon Si Ayutthaya',
       'Si Sa Ket', 'Chiang Mai', 'Khon Kaen', 'Roi Et', 'Buri Ram',
       'Nakhon Si Thammarat', 'Bangkok', 'Surin', 'Udon Thani', 'Kalasin',
       'Maha Sarakham', 'Surat Thani', 'Nakhon Sawan', 'Songkhla',
       'Sakon Nakhon', 'Chaiyaphum', 'Chiang Rai', 'Lop Buri', 'Phetchabun',
       'Pattani', 'Saraburi', 'Suphan Buri', 'Nakhon Pathom', 'Ratchaburi',
       'Lampang', 'Nan', 'Nakhon Phanom', 'Kanchanaburi', 'Phitsanulok',
       'Phetchaburi', 'Chachoengsao', 'Chon Buri', 'Loei', 'Phichit', 'Trang',
       'Sukhothai', 'Yasothon', 'Phrae', 'Kamphaeng Phet', 'Narathiwat',
       'Chanthaburi', 'Ang Thong', 'Chumphon', 'Uthai Thani', 'Phayao',
       'Uttaradit', 'Phatthalung', 'Prachin Buri', 'Tak', 'Nong Khai',
       'Pathum Thani', 'Nong Bua Lam Phu', 'Sa Kaeo', 'Yala', 'Rayong',
       'Amnat Charoen', 'Chai Nat', 'Krabi', 'Bueng Kan', 'Mukdahan',
       'Nonthaburi', 'Lamphun', 'Samut Prakan', 'Phangnga',
       'Prachuap Khiri Khan', 'Mae Hong Son', 'Sing Buri', 'Nakhon Nayok',
       'Samut Sakhon', 'Trat', 'Samut Songkhram', 'Satun', 'Ranong', 'Phuket'],
      dtype='object', name='province_en')

In [55]:
attraction = Attraction()
attraction.set_tag_score(key='Art', val=4.7)

In [56]:
attraction.get_attractionTag().get_tag_score(key='Beach')

0

In [57]:
attraction.get_attractionTag().get_tag_score(key='Art')

4.7

In [58]:
test_df_1 = pd.DataFrame()
x = {
    'name' : [attraction.get_name()],
    'lat' : [attraction.get_latitude()],
    'long' : [attraction.get_longitude()] 
}
test_df_2 = pd.DataFrame(x)

In [59]:
test_df_1

Empty DataFrame
Columns: []
Index: []

In [60]:
test_df_2

  name  lat  long
0         0     0

In [61]:
test_df_1 = pd.concat([test_df_1, test_df_2])
test_df_1

  name  lat  long
0         0     0

In [62]:
test_df_1

  name  lat  long
0         0     0

In [63]:
a = np.array([5, 6, 7, 8])
df = pd.DataFrame({"a": [a]})
df

              a
0  [5, 6, 7, 8]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       1 non-null      object
dtypes: object(1)
memory usage: 140.0+ bytes

In [65]:
dict_test = {
    'as': 'das',
    'bvvc': 'asdf'
}
df_2 = pd.DataFrame({"a1": [dict_test]})

In [66]:
df_2

                              a1
0  {'as': 'das', 'bvvc': 'asdf'}

In [67]:
df_2['a1'][0]['bvvc']

'asdf'

In [68]:
geocode_df = pd.read_csv(fh.PATH_TO_GEOCODE)
geocode_df.head()

,ISO_3166_code,province_th,province_en,zip_code,district_th,district_en,geo_code,subDistrict_th,subDistrict_en
0,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810303,เกาะกลาง,Ko Klang
1,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810302,เกาะลันตาน้อย,Ko Lanta Noi
2,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810301,เกาะลันตาใหญ่,Ko Lanta Yai
3,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810304,คลองยาง,Khlong Yang
4,81,กระบี่,Krabi,8103,เกาะลันตา,Ko Lanta,810305,ศาลาด่าน,Sala Dan

In [69]:
test_group_df = geocode_df.groupby(['province_th', 'district_th']).agg(count=('subDistrict_th', 'count'))
test_group_df.reset_index(inplace=True)
test_group_df['province_th'].value_counts().sort_values()

province_th
สมุทรสงคราม       3
สมุทรสาคร         3
ภูเก็ต            3
นครนายก           4
ระนอง             5
                 ..
เชียงใหม่        25
อุบลราชธานี      25
ขอนแก่น          26
นครราชสีมา       32
กรุงเทพมหานคร    50
Name: count, Length: 77, dtype: int64

In [70]:
a = 44.2
b = 'ds'
c = 14.65
x = "hello test %d %s %f" % ( a, b, c)
print(x)

hello test 44 ds 14.650000

In [71]:
region_tuples = []
for eng_name, thai_name in zip(ALL_PROVINCE_ENG, ALL_PROVINCE_TH):
    region_tuples.append((eng_name, thai_name, 44))

print(region_tuples)

[('Phuket', 'ภูเก็ต', 44), ('Nakhon Ratchasima', 'นครราชสีมา', 44), ('Bangkok', 'กรุงเทพมหานคร', 44), ('Ubon Ratchathani', 'อุบลราชธานี', 44), ('Phra Nakhon Si Ayutthaya', 'พระนครศรีอยุธยา', 44), ('Si Sa Ket', 'ศรีสะเกษ', 44), ('Chiang Mai', 'เชียงใหม่', 44), ('Khon Kaen', 'ขอนแก่น', 44), ('Roi Et', 'ร้อยเอ็ด', 44), ('Buri Ram', 'บุรีรัมย์', 44), ('Nakhon Si Thammarat', 'นครศรีธรรมราช', 44), ('Surin', 'สุรินทร์', 44), ('Udon Thani', 'อุดรธานี', 44), ('Kalasin', 'กาฬสินธุ์', 44), ('Maha Sarakham', 'มหาสารคาม', 44), ('Surat Thani', 'สุราษฎร์ธานี', 44), ('Nakhon Sawan', 'นครสวรรค์', 44), ('Songkhla', 'สงขลา', 44), ('Sakon Nakhon', 'สกลนคร', 44), ('Chaiyaphum', 'ชัยภูมิ', 44), ('Chiang Rai', 'เชียงราย', 44), ('Lop Buri', 'ลพบุรี', 44), ('Phetchabun', 'เพชรบูรณ์', 44), ('Pattani', 'ปัตตานี', 44), ('Saraburi', 'สระบุรี', 44), ('Suphan Buri', 'สุพรรณบุรี', 44), ('Nakhon Pathom', 'นครปฐม', 44), ('Ratchaburi', 'ราชบุรี', 44), ('Lampang', 'ลำปาง', 44), ('Nan', 'น่าน', 44), ('Nakhon Phanom', 'นครพนม', 44), ('Kanchanaburi', 'กาญจนบุรี', 44), ('Phitsanulok', 'พิษณุโลก', 44), ('Phetchaburi', 'เพชรบุรี', 44), ('Chachoengsao', 'ฉะเชิงเทรา', 44), ('Chon Buri', 'ชลบุรี', 44), ('Loei', 'เลย', 44), ('Phichit', 'พิจิตร', 44), ('Trang', 'ตรัง', 44), ('Sukhothai', 'สุโขทัย', 44), ('Yasothon', 'ยโสธร', 44), ('Phrae', 'แพร่', 44), ('Kamphaeng Phet', 'กำแพงเพชร', 44), ('Narathiwat', 'นราธิวาส', 44), ('Chanthaburi', 'จันทบุรี', 44), ('Ang Thong', 'อ่างทอง', 44), ('Chumphon', 'ชุมพร', 44), ('Uthai Thani', 'อุทัยธานี', 44), ('Phayao', 'พะเยา', 44), ('Uttaradit', 'อุตรดิตถ์', 44), ('Phatthalung', 'พัทลุง', 44), ('Prachin Buri', 'ปราจีนบุรี', 44), ('Tak', 'ตาก', 44), ('Nong Khai', 'หนองคาย', 44), ('Pathum Thani', 'ปทุมธานี', 44), ('Nong Bua Lam Phu', 'หนองบัวลำภู', 44), ('Sa Kaeo', 'สระแก้ว', 44), ('Yala', 'ยะลา', 44), ('Rayong', 'ระยอง', 44), ('Amnat Charoen', 'อำนาจเจริญ', 44), ('Chai Nat', 'ชัยนาท', 44), ('Krabi', 'กระบี่', 44), ('Bueng Kan', 'บึงกาฬ', 44), ('Mukdahan', 'มุกดาหาร', 44), ('Nonthaburi', 'นนทบุรี', 44), ('Lamphun', 'ลำพูน', 44), ('Samut Prakan', 'สมุทรปราการ', 44), ('Phangnga', 'พังงา', 44), ('Prachuap Khiri Khan', 'ประจวบคีรีขันธ์', 44), ('Mae Hong Son', 'แม่ฮ่องสอน', 44), ('Sing Buri', 'สิงห์บุรี', 44), ('Nakhon Nayok', 'นครนายก', 44), ('Samut Sakhon', 'สมุทรสาคร', 44), ('Trat', 'ตราด', 44), ('Samut Songkhram', 'สมุทรสงคราม', 44), ('Satun', 'สตูล', 44), ('Ranong', 'ระนอง', 44)]

In [72]:
def convert_openinghours(openingHours: dict) -> dict:
    temp_openingHours = openingHours.copy()

    if(len(temp_openingHours) == 0):
        return temp_openingHours.copy()
    
    # cut substring represent special holiday
    # for example:
    # {'วันจันทร์(วันเฉลิมพระชนมพรรษา พระบาทสมเด็จพระปรเมนทรรามาธิบดีศรีสินทรมหาวชิราลงกรณ พระวชิรเกล้าเจ้าอยู่หัว (วันหยุดชดเชย))': '9:00–17:00'}
    # change its key to -> {'วันจันทร์': '9:00–17:00'}
    for key, val in temp_openingHours.copy().items():
        start_Idx_special_holiday = key.find('(')
        if(start_Idx_special_holiday != -1):
            # changing keys of dictionary
            new_key = key[:start_Idx_special_holiday]
            temp_openingHours[new_key] = temp_openingHours.pop(key)

    days_of_week = ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์']
    # in case of temp_openingHours = {"ทุกวัน": '10:30 - 21:00'}
    # convert it to dictionary with all days of week as a keys(same value)
    if(len(temp_openingHours) == 1 and list(temp_openingHours.keys())[0] == 'ทุกวัน'):
        temp_time = list(temp_openingHours.values())[0]
        del temp_openingHours['ทุกวัน']
        for cur_day_of_week in days_of_week:
            temp_openingHours[cur_day_of_week] = temp_time

    else:
        # if there is range between day of week --> convert it to two individual key with same value
        # for example: {'จันทร์ - พุธ': '10:00 - 20:30', 'อาทิตย์': '11:00 - 22:30'}
        # convert to -> {'จันทร์': '10:00 - 20:30', 'อังคาร': '10:00 - 20:30', 'พุธ': '10:00 - 20:30', 'อาทิตย์': '11:00 - 22:30'}
        for key, val in temp_openingHours.copy().items():
            cur_split_day_range = key.split(' - ')
            if(len(cur_split_day_range) == 1):
                continue
            # remove current key
            del temp_openingHours[key]
            # convert to two individual key with same value
            is_pass_endDay = False
            cur_start_day = cur_split_day_range[0]
            cur_end_day = cur_split_day_range[1]
            cur_Idx = days_of_week.index(cur_start_day)
            while(not is_pass_endDay):
                if(days_of_week[cur_Idx] == cur_end_day):
                    is_pass_endDay = True
                temp_openingHours[days_of_week[cur_Idx]] = val
                cur_Idx = (cur_Idx + 1) % len(days_of_week)

    # change openingHours to temp_openingHours
    return temp_openingHours.copy()

In [73]:
x1 = {"ทุกวัน(H.M. Queen Sirikit The Queen Mother’s Birthday/Mother's Day)": '10:30 - 21:00'}
x2 = {
    "จันทร์ - พฤหัสบดี": '10:00 - 20:30',
    "ศุกร์ - เสาร์(H.M. Queen Sirikit The Queen Mother’s Birthday/Mother's Day)": '10:00 - 21:30',
    'อาทิตย์': '15:00 - 22:30'
}

# print(list(x1.keys())[0])
x1 = convert_openinghours(x1)
print(x1)
x2 = convert_openinghours(x2)
print(x2)

{'อาทิตย์': '10:30 - 21:00', 'จันทร์': '10:30 - 21:00', 'อังคาร': '10:30 - 21:00', 'พุธ': '10:30 - 21:00', 'พฤหัสบดี': '10:30 - 21:00', 'ศุกร์': '10:30 - 21:00', 'เสาร์': '10:30 - 21:00'}
{'อาทิตย์': '15:00 - 22:30', 'จันทร์': '10:00 - 20:30', 'อังคาร': '10:00 - 20:30', 'พุธ': '10:00 - 20:30', 'พฤหัสบดี': '10:00 - 20:30', 'ศุกร์': '10:00 - 21:30', 'เสาร์': '10:00 - 21:30'}

In [74]:
c = 'อาทิตย์'
c2 = 'จันทร์ - พฤหัสบดี'
print(c.split(' - '))
print(c2.split(' - '))

['อาทิตย์']
['จันทร์', 'พฤหัสบดี']

In [75]:
x = "เบอร์โทร : 0819781553, 0808248930"
phones = x.split("เบอร์โทร : ")[-1].split(", ")
print(phones)

['0819781553', '0808248930']

In [76]:
tripPlan = {
    "sep_4": 
        {   "placeId" : [1,2,3,7,8,9],
            "accomodation" : 81
        },
    "sep_5": 
        {
            "placeId" : [39],
            "accomodation" : 81
        },
    "sep_6": 
        {
            "placeId" : [71, 72],
            "accomodation" : 100
        },
    "sep_7": 
        {
            "placeId" : [86],
            "accomodation" : 100
        }
}

In [77]:
geo_code_df = pd.read_csv(fh.PATH_TO_GEOCODE)

In [78]:
url = "https://www.google.com/maps/search/?api=1&query=7.880209799999999,98.37213659999999?pi=1&query=7.880209799999999,98.37213659999999"
# URL provided by the user
url = "https://www.google.com/maps/search/?api=1&query=13.847111,100.6007"

# Extract the query part containing lat,long using regular expression
match = re.search(r"query=([-+]?\d*\.\d+|\d+),([-+]?\d*\.\d+|\d+)", url)

# Extract latitude and longitude if match is found
if match:
    latitude = match.group(1)
    longitude = match.group(2)
    print("lat, long -> ",latitude, " ", longitude)

lat, long ->  13.847111   100.6007

In [79]:
# scrape location
province_th = "ภูเก็ต"

subStrDistrict = "อำเภอ"
subStrSubDistrict = "ตำบล"

if province_th == "กรุงเทพมหานคร":
    subStrDistrict = "เขต"
    subStrSubDistrict = "แขวง"

time.sleep(2)
# soup = BeautifulSoup(restaurant_page_driver.page_source, 'html.parser')
# address_googleMap = soup.find_all('span', class_='DkEaL')

# if found some wiered place that doesn't even have its address
# skip this case for now...
# if(not len(address_googleMap)):
#     exit()

district = 0
subDirstrict = 0

# find location
useData = "101-105 ถ. ปฏิพัทธิ์ ตำบลตลาดเหนือ อำเภอเมืองภูเก็ต ภูเก็ต 83000"
# for div in address_googleMap:
#     if province_th in div.text and div.text.find(subStrDistrict) != -1:
#         useData = div.text.replace(",","").replace("เเ","แ")

useData = useData.replace(",","").replace("เเ","แ")

if(useData != None):
    # print("Full Address :",useData)
    # another brute force way in case of province 'กรุงเทพหมานคร' not have word 'แขวง' in address
    if(province_th == 'กรุงเทพมหานคร' and useData.find(subStrSubDistrict) == -1):
        subAddress_split = useData.split(' ')
        cur_province_Idx = subAddress_split.index(province_th)
        district = subAddress_split[cur_province_Idx - 1].replace("เขต","")
        subDistrict = subAddress_split[cur_province_Idx - 2].replace("แขวง","")

    else:
        start_address_index = useData.find(subStrSubDistrict)
        subAddress = useData[start_address_index:]
        district = subAddress[subAddress.find(subStrDistrict)+len(subStrDistrict):subAddress.find(province_th)].replace(" ","")               
        subDistrict = subAddress[subAddress.find(subStrSubDistrict)+len(subStrSubDistrict):subAddress.find(subStrDistrict)].replace(" ","")

    if district == "เมือง":
        district = district+province_th

    # filter row to find 'ISO_3166_code', 'zip_code', 'geo_code'
    geo_code_df = pd.read_csv(fh.PATH_TO_GEOCODE)
    filtered_rows = geo_code_df[
        (geo_code_df['province_th'] == province_th) & (geo_code_df['district_th'] == district) & (geo_code_df['subDistrict_th'] == subDistrict)
    ]
    filtered_rows.reset_index(inplace=True, drop=True)
    
    if not filtered_rows.empty:
        print("province :",filtered_rows.loc[0, 'ISO_3166_code'], province_th)
        print("District :",filtered_rows.loc[0, 'zip_code'], district)
        print("SubDistrict :",filtered_rows.loc[0, 'geo_code'], subDistrict)


    else:
        print("province :", province_th)
        print("District :", district)
        print("SubDistrict :", subDistrict)

province : 83 ภูเก็ต
District : 8301 เมืองภูเก็ต
SubDistrict : 830102 ตลาดเหนือ

In [80]:
test_ratingCount = "(15 รีวิว)"
x = int(test_ratingCount.split(' ')[0][1:])
x

15

In [81]:
print(os.environ['SBR_WS_ENDPOINT'])

https://brd-customer-hl_531c098e-zone-scraping_browser1:7pvq96qwj1bu@brd.superproxy.io:9515